.qf-upload {
  border: 1px solid #dedede;
  width: 100px;
  height: 100px;
  display: block;
  line-height: 80px;
}
.qf-upload .ant-upload {
  display: block;
}
.qf-upload .ant-upload img {
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;
}
