.qf-gutter-box {
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: #fff;
  border-radius: 6px;
}
.qf-gutter-box .db-title {
  position: relative;
  top: 15px;
  font-size: 12px;
}
.qf-gutter-box .db-amount {
  font-size: 45px;
}
